<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border=1>
        <tr>
            <th>Tasks</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in task%}
        <tr>
            <td>{{task.name}}</td>
            <td>{{task.date}}</td>
            <td><a href="/update/{{task.id}}">Edit</a>
                <a href="/delete/{{task.id}}">Delete</a>
            </td>

        </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="Task" id="task">
        <input type="submit" value="Add task">
    </form>
</body>

</html>